.homeContainer {
    display: flex;
    height: calc(100vh - 50px); /* Occupy full viewport height minus any header/footer */
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
  }
  
  .leftSection {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
  .favoritesSection {
    height: 35%; /* Take up 35% of the left section */
    overflow-y: auto; /* Enable scrolling if the list gets long */
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .favoritesSection h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .favoriteItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .favoriteItem:last-child {
    border-bottom: none; /* Remove border for the last item */
  }
  
  .favoriteItem span {
    font-size: 1em;
    color: #555;
  }
  
  .favoriteItem button {
    background-color: #f9f9f9;
    color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .favoriteItem button:hover {
    background-color: #20e94b;
  }
  
  .rightSection {
    width: 70%;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling for the right section */
    background-color: #ffffff;
    box-sizing: border-box;
  }
  
  .rightSection::-webkit-scrollbar {
    width: 8px;
  }
  
  .rightSection::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 4px;
  }
  
  .rightSection::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }
  